body {
  margin: 0;
  text-align: center;
  font-family: "Monaco", Arial, sans-serif;
  background-color: #282C34;

  /*  color: #ABB2BF;
  #FFD700 giallo
   #E06C75 rosso
   #98C379 verde
   #D19A66 arancione*/
}

html {
  scroll-snap-type: y mandatory;
}

section {
  block-size: 100vh;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  display: grid;
  place-items: center;
}

h1 {
  font-size: 10em;
  color: #ABB2BF;
}

h2 {
  font-size: 4em;
  font-weight: normal;
  color: #ABB2BF;
}

h4 {
  color: #D19A66;
}

p {
  color: #98C379;
  font-size: 1.75em;
  width: 50%;
}

.mail {
  color: #FFD700;
  text-decoration: underline #FFD700;
  font-size: 3em;
}

@media (max-width: 1050px) {

  h2 {
    font-size: 8em;
  }

  p {
    margin-top: 0%;
    margin-bottom: 50%;
    font-size: 2.75em;
    width: 90%;
  }

  a {
    margin-top: 0%;
    margin-bottom: 50%;
    font-size: 2.75em;
    width: 90%;
  }

}