body {
  margin: 0;
  text-align: center;
  font-family: "Monaco", Arial, sans-serif;
  background-color: #282C34;

 /*  color: #ABB2BF;
  #FFD700 giallo
   #E06C75 rosso
   #98C379 verde
   #D19A66 arancione*/
}

html{
  scroll-snap-type: y mandatory;
}
section{
  block-size: 100vh;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  display: grid;
  place-items: center;
}

u {
  color: #FFD700;
}

h1 {
  font-size: 1000%;
  color: #ABB2BF;
}

h2 {
  font-size: 400%;
  font-weight: normal;
  color: #ABB2BF;
}

h4 {
  color: #D19A66;
}

p {
  color: #98C379;
  font-size: 175%;
  width: 50%;
}

.mail {
  color: #FFD700;
  text-decoration: underline #FFD700;
  font-size: 300%;
}

.underline {
  text-decoration: underline;
}