<footer class="d-flex text-center align-items-center py-3 m-auto border-top" style="max-width: 75%;">
  <div class="text-center">
    <code class=" mb-md-0">© 2023 Leonardo Bani</code>
    <code class="m-1 mb-md-0 text-body-secondary">bani.leonardo@pec.it</code>
    <code class="m-1 mb-md-0 text-body-secondary">07242570484</code>
    <div class="align-content-">
      <a class="text-body-secondary d-inline-block m-2" href="https://linkedin.com/in/leonardo-bani/"><img class="bi"
          width="24" height="24" src="/icons/linkedin.svg" alt="Linkedin Icon">
      <a class="text-body-secondary d-inline-block m-2" href="https://github.com/leonardobani"><img class="bi"
        width="24" height="24" src="/icons/github.svg" alt="Github Icon">
    </div>
  </div>
</footer>